Source: wasta-custom-png
Section: utils
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: wasta-custom-png
Architecture: all
Depends: wasta-core-xenial, ${shlibs:Depends}, ${misc:Depends}
Recommends: ibus-gtk, ibus-gtk3, ibus-kmfl, tlp, tp-smapi-dkms, acpi-call-dkms, cups-pdf
Description: Wasta-Linux PNG customization
 Customizes Wasta-Linux with PNG adjustments, including:
    - LibreOffice Int'l English defaults (.doc, .xls, metric, etc)
    - kmfl ibus: contains sample keyboard layouts
